textarea {
    min-height: 400px;
}

.email-header {
    margin: 0;
}

.emailProperty {
    border-left: 20px;
    width: 33%;
}

.emailRead {
    display: flex;
    border-style: solid;
    padding: 10px;
}

.emailUnread {
    display: flex;
    border-style: solid;
    padding: 10px;
}