textarea {
    min-height: 400px;
}

.archive {
    margin-left: 20px;
}

.email-header {
    margin: 0;
}

.emailRead {
    display: flex;
    border-style: solid;
    padding: 10px;
}

.emailUnread {
    display: flex;
    border-style: solid;
    padding: 10px;
}